<!DOCTYPE html><!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Apr 06 2019 20:39:56 GMT+0000 (UTC) -->
<html data-wf-domain="office-works.webflow.io" data-wf-page="5ca8eed43be192c60a7a42d3" data-wf-site="5ca8eed43be19295f17a42d2" data-wf-status="1">

  <head>
    <meta charset="utf-8" />
    <title>Office Works</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="https://uploads-ssl.webflow.com/5ca8eed43be19295f17a42d2/css/office-works.webflow.9cf341267.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]
        }
      });

    </script>

    <script type="text/javascript">
      ! function(o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
      }(window, document);

    </script>
    <link href="https://uploads-ssl.webflow.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://uploads-ssl.webflow.com/img/webclip.png" rel="apple-touch-icon" />
    <style type="text/css">
      .d-none {
        display: none !important;
      }

      .d-block {
        display: block !important;
      }

      .div-block-4 {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
      }

      .shadow {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
        background: white !important;
      }

      .bg-primary {
        background: #F4FAFF !important;
      }

      .bg-secondary {
        background: #FFFFFF !important;
      }

      .bg-dark {
        border-radius: 11px;
        background-color: rgba(0, 0, 0, 0.76);
      }

      .btn-danger {

        margin-right: 5px;
        border-radius: 20px;
        background-color: red;
        border: 1px solid #F4FAFF !important;

      }

      .text-dark {
        color: #333333;
      }

      .border-dark {
        border: 1px solid #333333 !important;
      }

      .disabled {
          opacity: 0.3 !important;
      }

      .text-center {
        text-align: center;
      }

      #upload-date {
        border-radius: 11px;
        border: none;
        margin-bottom: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
      }

      .lds-ellipsis {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 64px;
        height: 64px;
      }
      .lds-ellipsis div {
        position: absolute;
        width: 11px;
        height: 11px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background: white;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(19px, 0);
        }
      }

      .error {
        background-color: rgb(244,193,193,1);
        padding: 15px;
        border-radius: 11px;
        font-weight: bold;
      }

      .selected {
        background-color: #3798EC;
        color: white;
      }

      .list {
        position: absolute;
        overflow: scroll;
        background-color: rgba(244,193,193,1) !important;
      }

      .search-results {
        padding-right: 15px;
        cursor: pointer;
      }



    </style>
  </head>

  <body class="body bg-primary">
    <div class="container w-container">
      <!-- <h1 class="heading">Works Update</h1> -->
      <h3 class="text-center"> <span class="field-label">Date</span> <input class="text-center" id="upload-date" type="date" name="bday" value="{{dateToday}}"/></h3>



      <div>
        <div class="w-form">

          <form id="email-form" name="email-form" data-name="Email Form" class="form shadow"><label for="name" class="field-label">Category</label>

            <div class="radio-button-field w-radio"><input type="radio" id="radio-2" name="radio" value="New Construction" data-name="Radio" class="w-radio-input" /><label for="radio-2" class="w-form-label">New Construction</label></div>
            <div class="radio-button-field w-radio"><input type="radio" id="radio" name="radio" value="External Uplift (FHCC)" data-name="Radio" class="w-radio-input" /><label for="radio" class="w-form-label">External Uplift (FHCC)</label></div>
            <div class="radio-button-field w-radio"><input type="radio" id="radio-3" name="radio" value="Bunkers Works (FHCC)" data-name="Radio" class="w-radio-input" /><label for="radio-3" class="w-form-label">Bunkers Works (FHCC)</label></div>
            <div class="radio-button-field w-radio"><input type="radio" id="radio-4" name="radio" value="Material In" data-name="Radio" class="w-radio-input" /><label for="radio-4" class="w-form-label">Material In</label></div>
            <div class="radio-button-field w-radio d-none"><input type="radio" id="radio-5" name="radio" value="Labour Attendance" data-name="Radio" class="w-radio-input" /><label for="radio-5" class="w-form-label">Labour Attendance</label>
            </div>
            <input type="submit" value="Next" data-wait="Please wait..." class="form-button w-button" />
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div>
        <div class="form new-form w-form d-none shadow">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
            <label for="name" class="field-label">New Construction</label>

            <label>Project Name</label>
            <select data-name="name" id="const-projName" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="Bunker 1 Washroom & FHCC">Bunker 1 Washroom<option value>Select one...</option>
              <option value="Bunker 1 Washroom & FHCC">Washrooms</option>
              <option value="Entrance main Gate & FHCC">Entrance main Gate</option>
              <option value="Car Park Shed & FHCC">Car Park Shed</option>
              <option value="FHCC Pathways & FHCC">FHCC Pathways</option>
              <option value="Unit Pathways & Unit">Unit Pathways</option>
              <option value="FHCC Mosque & FHCC">FHCC Mosque</option>
              <option value="OFC / UG Laying & FHCC">OFC / UG Laying</option>
              <option value="Unit Mosque & Unit">Unit Mosque</option>
              <option value="MT Washing Pit & Unit">MT Washing Pit</option>
              <option value="MT Shed & Unit">MT Shed</option>
              <option value="Cook House & Unit">Cook House</option>
              <option value="Dining Hall & Unit">Dining Hall</option>
              <option value="Stores in Hangers & Unit">Stores in Hangers</option>
              <option value="Quarter Gd & Unit">Quarter Gd</option>
              <option value="POL Store & Unit">POL Store</option>
              <option value="Metalled Road & Unit">Metalled Road in unit</option>
              <option value="Aluminimum Windows/Doors & Unit">Aluminimum Windows/Door</option>
              <option value="SM Bk 2 Water Tank & Unit">SM Bk 2 Water Tank</option>
              <option value="SM Bk 2 OAS Earth & Unit">SM Bk 2 OAS Earth</option>
              <option value="IPS Room & Unit">IPS Room</option>
              <option value="other & other">other... (please mention in remarks)</option>
            </select>

            <label>Responsibility</label>
            <select data-name="responsibility" id="const-resp" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="MES">MES</option>
              <option value="Juke Box">Juke Box</option>
              <option value="78 Sigs">78 Sigs</option>
              <option value="Pak Arab">Pak Arab</option>
              <option value="Other">Other</option>
            </select>

            <label>Work</label>
            <input autocomplete="off" data-name="work" type="text" class="w-input search-input" maxlength="256" name="field-2" placeholder="Roof shuttering done 60 %" id="const-work" required="" />
            <div class="work-suggestions div-block-6"></div>

            <label>Quantity</label>
            <input data-name="quantity" type="number" class="w-input" maxlength="256" name="field-2" placeholder="350" id="const-qty" required="" />

            <label>Unit</label>
            <select data-name="unit" id="const-unit" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="sft">sft</option>
              <option value="cft">cft</option>
              <option value="rft">rft</option>
              <option value="large bags">large bags</option>
              <option value="small bags">small bags</option>
              <option value="truck">truck</option>
              <option value="trolley">trolley</option>
              <option value="units">units</option>
              <option value="Other">Other (please mention in remarks)</option>
            </select>

            <label>Remarks</label>
            <input data-name="remarks" type="text" class="w-input" maxlength="256" name="field-2" placeholder="Work is in progress" id="const-remarks" required="" />

            <button type="submit" value="Submit" data-wait="Please wait..." class="form-button w-button">Submit</button>
            <button id="" type="button" value="X" data-wait="Please wait..." class="email-form-2-btn form-button bg-primary text-dark w-button border-dark">X</button>
          </form>

          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="form new-form w-form d-none shadow">
          <form id="email-form-3" name="email-form-2">
            <label for="name-4" class="field-label">External Uplift (FHCC)</label>

            <label>Project Name</label>
            <select data-name="name" id="ext-projName" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="Boundary Wall Paint & FHCC">Boundary Wall Paint</option>
              <option value="New Lintels & FHCC">New Lintels</option>
              <option value="Outdoor CCTV Installation & FHCC">Outdoor CCTV Installation</option>
              <option value="Outdoor Lights & FHCC">Outdoor Lights</option>
              <option value="Bunker 3 Themed Wall & FHCC">Bunker 3 Themed Wall</option>
              <option value="Grass Laying & FHCC">Grass Laying</option>
            </select>

            <label>Responsibility</label>
            <select data-name="responsibility" id="ext-resp" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="MES">MES</option>
              <option value="Juke Box">Juke Box</option>
              <option value="78 Sigs">78 Sigs</option>
              <option value="Pak Arab">Pak Arab</option>
              <option value="Other">Other</option>
            </select>

            <label>Work</label>
            <input autocomplete="off" data-name="work" type="text" class="w-input search-input" maxlength="256" name="field-2" placeholder="Roof shuttering done 60 %" id="ext-work" required="" />
            <div class="work-suggestions div-block-6"></div>

            <label>Quantity</label>
            <input data-name="quantity"  type="number" class="w-input" maxlength="256" name="field-2" placeholder="350" id="ext-qty" required="" />

            <label>Unit</label>
            <select data-name="unit" id="ext-unit" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="sft">sft</option>
              <option value="cft">cft</option>
              <option value="rft">rft</option>
              <option value="large bags">large bags</option>
              <option value="small bags">small bags</option>
              <option value="truck">truck</option>
              <option value="trolley">trolley</option>
              <option value="units">units</option>
              <option value="Other">Other (please mention in remarks)</option>
            </select>

            <label>Remarks</label>
            <input data-name="remarks" type="text" class="w-input" maxlength="256" name="field-2" placeholder="Work is in progress" id="ext-remarks" required="" />

            <button type="submit" value="Submit" data-wait="Please wait..." class="form-button w-button">Submit</button>
            <button id="" type="button" value="X" data-wait="Please wait..." class="email-form-2-btn form-button bg-primary text-dark w-button border-dark">X</button>

            </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="form new-form w-form d-none shadow">
          <form id="email-form-4" name="email-form-2">
            <label for="name-3" class="field-label">Bunkers Works (FHCC)</label>

            <label>Bunker Number</label>
            <select data-name="name" id="bunker-projName" name="field-6" required="" class="w-select">
              <option value="">Select one...</option>
              <option value="Bunker 1 & FHCC">1</option>
              <option value="Bunker 2 & FHCC">2</option>
              <option value="Bunker 3 & FHCC">3</option>
              <option value="Bunker 4 & FHCC">4</option>
              <option value="Bunker 5 & FHCC">5</option>
              <option value="Bunker 6 & FHCC">6</option>
            </select>

            <label>Responsibility</label>
            <select data-name="responsibility" id="bunker-resp" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="MES">MES</option>
              <option value="Juke Box">Juke Box</option>
              <option value="78 Sigs">78 Sigs</option>
              <option value="Pak Arab">Pak Arab</option>
              <option value="Other">Other</option>
            </select>

            <label>Work</label>
            <input autocomplete="off" data-name="work" type="text" class="w-input search-input" maxlength="256" name="field-3" placeholder="Wall putty etc" id="bunker-work" required="" />
            <div class="work-suggestions div-block-6"></div>

            <label>Quantity</label>
            <input data-name="quantity"  type="number" class="w-input" maxlength="256" name="field-2" placeholder="350" id="bunker-qty" required="" />

            <label>Unit</label>
            <select data-name="unit"  id="bunker-unit" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="sft">sft</option>
              <option value="cft">cft</option>
              <option value="rft">rft</option>
              <option value="large bags">large bags</option>
              <option value="small bags">small bags</option>
              <option value="truck">truck</option>
              <option value="trolley">trolley</option>
              <option value="units">units</option>
              <option value="Other">Other (please mention in remarks)</option>
            </select>

            <label>Remarks</label>
            <input data-name="remarks"  type="text" class="w-input" maxlength="256" name="field-3" placeholder="Any thing" id="bunker-remarks" />

            <button type="submit" value="Submit" data-wait="Please wait..." class="form-button w-button">Submit</button>
            <button id="" type="button" value="X" data-wait="Please wait..." class="email-form-2-btn form-button bg-primary text-dark w-button border-dark">X</button>

          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="form new-form w-form d-none shadow">
          <form id="email-form-5" name="email-form-2" data-name="Email Form 2" class="form-2">

            <label for="name-2" class="field-label">Material In</label>

            <label>Project Name</label>
            <select data-name="name" id="mat-name" name="field-6" required="" class="w-select">
              <option value>Select one...</option>
              <option value="Bunkers & FHCC">Bunkers</option>
              <option value="Bunker Washroom & FHCC">Bunker Washroom</option>
              <option value="FHCC Complex & FHCC">FHCC Complex</option>
              <option value="Entrance main Gate & FHCC">Entrance main Gate</option>
              <option value="Car Park Shed & FHCC">Car Park Shed</option>
              <option value="FHCC Pathways & FHCC">FHCC Pathways</option>
              <option value="Unit Pathways & Unit">Unit Pathways</option>
              <option value="FHCC Mosque & FHCC">FHCC Mosque</option>
              <option value="OFC / UG Laying & FHCC">OFC / UG Laying</option>
              <option value="Unit Mosque & Unit">Unit Mosque</option>
              <option value="MT Washing Pit & Unit">MT Washing Pit</option>
              <option value="MT Shed & Unit">MT Shed</option>
              <option value="Cook House & Unit">Cook House</option>
              <option value="Dining Hall & Unit">Dining Hall</option>
              <option value="Stores in Hangers & Unit">Stores in Hangers</option>
              <option value="Quarter Gd & Unit">Quarter Gd</option>
              <option value="POL Store & Unit">POL Store</option>
              <option value="Metalled Road & Unit">Metalled Road in unit</option>
              <option value="Aluminimum Windows/Doors & Unit">Aluminimum Windows/Door</option>
              <option value="SM Bk 2 Water Tank & Unit">SM Bk 2 Water Tank</option>
              <option value="SM Bk 2 OAS Earth & Unit">SM Bk 2 OAS Earth</option>
              <option value="IPS Room & Unit">IPS Room</option>
              <option value="other & other">other... (please mention in remarks)</option>
            </select>

            <label>Owner</label>
            <select data-name="responsibility" id="mat-resp" name="field-7" required="" class="w-select">
              <option value="Juke Box">Juke Box</option>
              <option value="MES">MES</option>
              <option value="Pak Arab">Pak Arab</option>
              <option value="78 Sigs">78 Sigs</option>
              <option value="Other">Other</option>
            </select>

            <label>Material</label>
            <input autocomplete="off" data-name="work" type="text" class="text-field w-input search-input" maxlength="256" name="field-3" placeholder="Cement / Sand etc" id="mat-work" required="" />
            <div class="work-suggestions div-block-6"></div>
            <!-- <div class="div-block-6">
              <ul class="list material-results">
                <li class="search-results">Cement</li>
                <li class="search-results">Sand</li>
                <li class="search-results">Iron Rods</li>
              </ul>
            </div> -->

            <label>Quantity</label>
            <input type="number" class="w-input" maxlength="256" name="field-2" data-name="quantity" placeholder="350" id="mat-qty" required="" />

            <label>Unit</label>
            <select data-name="unit" id="mat-unit" name="field-7" required="" class="w-select">
              <option value>Select one...</option>
              <option value="sft">sft</option>
              <option value="cft">cft</option>
              <option value="rft">rft</option>
              <option value="large bags">large bags</option>
              <option value="small bags">small bags</option>
              <option value="truck">truck</option>
              <option value="trolley">trolley</option>
              <option value="units">units</option>
              <option value="Other">Other (please mention in remarks)</option>
            </select>

            <label>Remarks</label>
            <input data-name="remarks"  type="text" class="w-input" maxlength="256" name="field-3" placeholder="Any thing" id="mat-remarks" />

            <button type="submit" value="Submit" data-wait="Please wait..." class="form-button w-button">Submit</button>
            <button id="" type="button" value="X" data-wait="Please wait..." class="email-form-2-btn form-button bg-primary text-dark w-button border-dark">X</button>

          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="form new-form w-form d-none shadow">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><label for="name-5" class="field-label">Labour Attendance</label><input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2"
              placeholder="Name of Labour" id="name-2" /><input type="text" class="w-input" maxlength="256" name="field-3" placeholder="MES / JukeBox / Pak Arab etc" id="field-3" required="" /><input type="text" class="w-input"
              maxlength="256" name="field-3" placeholder="Present / Absent" id="field-3" required="" /><input type="submit" value="Submit" data-wait="Please wait..." class="form-button w-button" /><input type="submit" value="Next"
              data-wait="Please wait..." class="form-button bg-success w-button" /></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="category-block bg-primary">

      </div>

      <div class="div-block-4 bg-secondary d-none" style="position:relative">
        <div class="overlay border-dark bg-dark d-none" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)">
          <h3 class="saving" style="position:absolute;top:20%;left:50%;transform:translate(-50%,-50%);color:white;z-index:2">Saving</h3>
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="div-block-5">
          <div><h5><strong class="bold-text-2">Category: New Construction / Washrooms / External Repairs</strong></h5></div>
        </div>
        <button type="button" class="btn-submit button bg-success w-button">Submit</button>
        <button type="button" class="btn-delete button btn-danger w-button">Delete</button>
        <p class="error d-none"></p>

      </div>

      <div class="text-3"><strong></strong> <span></span> </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <script id="entry-template" type="text/x-handlebars-template">

      <ul class="list material-results">
        \{{#each this}}
          <li class="search-results">\{{@this}}</li>
        \{{/each}}
      </ul>

    </script>

    <script>

      $('#email-form').on('submit',function(e) {
        e.preventDefault();
        let val = $("input[type='radio']:checked").val();
        if (!val) return $('.w-form-fail:eq(0)').addClass('d-block');
        $('.w-form-fail:eq(0)').removeClass('d-block');
        console.log(val);
        $('.new-form').removeClass('d-block').addClass('d-none');
        $(`.field-label:contains('${val}')`).closest('div').toggleClass('d-none d-block');
        $('.material-results').hide();
      });

      $('#email-form-2').on('submit',function(e) {
        e.preventDefault();
        $('.div-block-4:eq(-1)').clone().prependTo('.category-block');
        $('.div-block-4:eq(0)').removeClass('d-none').find('.bold-text-2').html(`Category: ${$(this).find('.field-label').html()}`);
        let data = {
          'Project Name': $('#const-projName').val() + '$' + $('#const-projName').attr('data-name'),
          'Responsibility': $('#const-resp').val() + '$' + $('#const-resp').attr('data-name'),
          'Work': $('#const-work').val() + '$' + $('#const-work').attr('data-name'),
          'Quantity': $('#const-qty').val() + '$' + $('#const-qty').attr('data-name'),
          'Unit': $('#const-unit').val() + '$' + $('#const-unit').attr('data-name'),
          'Remarks': $('#const-remarks').val() + '$' + $('#const-remarks').attr('data-name'),
        };

        dataNoted(data,this);

      });

      $('#email-form-3').on('submit',function(e) {
        e.preventDefault();
        $('.div-block-4:eq(-1)').clone().prependTo('.category-block');
        $('.div-block-4:eq(0)').removeClass('d-none').find('.bold-text-2').html(`Category: ${$(this).find('.field-label').html()}`);
        let data = {
          'Project Name': $('#ext-projName').val()+ '$' + $('#ext-projName').attr('data-name'),
          'Responsibility': $('#ext-resp').val()+ '$' + $('#ext-resp').attr('data-name'),
          'Work': $('#ext-work').val()+ '$' + $('#ext-work').attr('data-name'),
          'Quantity': $('#ext-qty').val()+ '$' + $('#ext-qty').attr('data-name'),
          'Unit': $('#ext-unit').val()+ '$' + $('#ext-unit').attr('data-name'),
          'Remarks': $('#ext-remarks').val()+ '$' + $('#ext-remarks').attr('data-name')
        };

        dataNoted(data,this);

      });

      $('#email-form-4').on('submit',function(e) {
        e.preventDefault();
        $('.div-block-4:eq(-1)').clone().prependTo('.category-block');
        $('.div-block-4:eq(0)').removeClass('d-none').find('.bold-text-2').html(`Category: ${$(this).find('.field-label').html()}`);
        let data = {
          'Bunker No': $('#bunker-projName').val() + '$' + $('#bunker-projName').attr('data-name'),
          'Responsibility': $('#bunker-resp').val() + '$' + $('#bunker-resp').attr('data-name'),
          'Work': $('#bunker-work').val() + '$' + $('#bunker-work').attr('data-name'),
          'Quantity': $('#bunker-qty').val() + '$' + $('#bunker-qty').attr('data-name'),
          'Unit': $('#bunker-unit').val() + '$' + $('#bunker-unit').attr('data-name'),
          'Remarks': $('#bunker-remarks').val() + '$' + $('#bunker-remarks').attr('data-name')
        };

        dataNoted(data,this);
      });

      $('#email-form-5').on('submit',function(e) {
        e.preventDefault();
        $('.div-block-4:eq(-1)').clone().prependTo('.category-block');
        $('.div-block-4:eq(0)').removeClass('d-none').find('.bold-text-2').html(`Category: ${$(this).find('.field-label').html()}`);
        let data = {
          'Project': $('#mat-name').val() + '$' + $('#mat-projName').attr('mat-name'),
          'Owner': $('#mat-resp').val() + '$' + $('#mat-resp').attr('data-name'),
          'Material': $('#mat-work').val() + '$' + $('#mat-work').attr('data-name'),
          'Quantity': $('#mat-qty').val() + '$' + $('#mat-qty').attr('data-name'),
          'Units': $('#mat-unit').val() + '$' + $('#mat-unit').attr('data-name'),
          'Remarks': $('#mat-remarks').val() + '$' + $('#mat-remarks').attr('data-name'),
        };

        dataNoted(data,this);

      });

      function dataNoted(data,element) {

        $(`.text-3:eq(-1)`).clone().appendTo('.div-block-5:eq(0)');

        let date = $('#upload-date').val().split("-").reverse().join("-");
        let location = $(element).find('select').val().split('&')[1];
        let newValue = $(element).find('select').val().split('&')[0];

        $('.div-block-4:eq(0)').find('.text-3:eq(-1)').children('span').data({myName: 'date'}).html(date).addClass('date-selected').siblings('strong').html('Date:');
        $('.div-block-4:eq(0)').find('.text-3:eq(-1)').children('span').html()

        $.each(data,function(key,value) {
          $(`.text-3:eq(-1)`).clone().appendTo('.div-block-5:eq(0)');
          $('.div-block-4:eq(0)').find('.text-3:eq(-1)').children('span').data({myName: value.split('$')[1]}).html(value.split('$')[0]).siblings('strong').html(key+': ');
        });

        $('.div-block-4:eq(0)').find('.text-3:eq(1)').children('span').addClass('location').html(newValue).data({location});

        $(element).find('select').each(function() {
          $(this).find('option:eq(0)').attr('selected',true);
        });

        $(element).find('input').each(function(){
          $(this).val('');
        });
      };

      $('.email-form-2-btn').on('click',function() {
        $(this).closest('div').toggleClass('d-none d-block');
      });

      // $(`.field-label:contains('New Construction')`).closest('div').toggleClass('d-none d-block');
      // $('#const-projName').val('Bunker 1 Washroom & FHCC');
      // $('#const-resp').val('MES');
      // $('#const-work').val('a lot of work done on foundations today');
      // $('#const-qty').val('300');
      // $('#const-unit').val('sft');
      // $('#const-remarks').val('it was their first day of work today');

      $(document).on('click','.btn-submit',function() {
        $(this).closest('.div-block-4').find('.overlay').toggleClass('d-none').css({
          height: $('.div-block-4').outerHeight(),
          width: $('.div-block-4').outerWidth()
        });
        $(this).closest('.div-block-4').find('.date-selected').closest('.text-3').removeClass('text-3');
        let category = $(this).closest('.div-block-4').find('.bold-text-2').html().split('Category: ')[1];
        // date','category','name','responsibility','work','quantity','unit','remarks'
        let date = $('#upload-date').val();
        let data = {
          timestamp: new Date().toString(),
          date: $(this).closest('.div-block-4').find('.date-selected').html().split('-').reverse().join('-'),
          loc: $(this).closest('.div-block-4').find('.location').data().location.trim(),
          category,
        };

        $(this).closest('.div-block-4').find('.text-3').each(function() {
          let key = $(this).children('span').data().myName;
          let value = $(this).children('span').html().trim();
          data[key] = value;
        });

        // return console.log(data);

        data = JSON.stringify(data);
        $.ajax({
            url: '/data',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            $(this).closest('.div-block-4').toggleClass('bg-success-light bg-secondary');
            $(this).html('Saved.!').attr('disabled',true).siblings('button').remove();
            $(this).closest('.div-block-4').find('.overlay').toggleClass('d-none');
          }).fail((e) => {
            console.log(e.responseText);
            $(this).closest('.div-block-4').find('.error').toggleClass('d-none').html(e.responseText);
            $(this).closest('.div-block-4').find('.overlay').toggleClass('d-none');
          });
      });

      $(document).on('click','.btn-delete',function() {
        $(this).closest('.div-block-4').remove();
      });

      $(document).on('mouseenter mouseleave','.search-results',function(){
        $(this).toggleClass('selected');
      });

      $(document).on('keyup','.search-input',function(){
        let val = $(this).val();
        if (val.length == 0) return;
        arr = $.grep(suggestions, function( n, i ) {
          n = n.toLowerCase();
          val = val.toLowerCase();
          return n.indexOf(val) !== -1;
        });
        compileHbs(arr);
        $(this).closest('form').find('.material-results').show();
      })

      function compileHbs(data) {
        var source   = document.getElementById("entry-template").innerHTML;
        var template = Handlebars.compile(source);
        var html    = template(data);
        $('.div-block-6').html(html);
      }

      let suggestions = [];

      $(document).ready(() => {
        $.ajax({
            url: '/getSuggestions',
            type: 'get',
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            $.each(res,function(key,value) {
              suggestions[key] = value[0]
            });

            suggestions = unique(suggestions);

          }).fail((e) => {
            console.log(e.responseText);
          });
      })

      function unique(list) {
        var result = [];
        $.each(list, function(i, e) {
          if ($.inArray(e, result) == -1) result.push(e);
        });
        return result;
      };

      $(document).on('click','.selected',function(){
        let myValue = $(this).html();
        $(this).closest('form').find('.search-input').val(myValue);
        $(this).closest('.material-results').hide();
      })

    </script>

  </body>

</html>
