<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/reset.css">
    <style media="screen">

      .popover {
        position: absolute;
        background: #009688;
        color: white;
        font-size: 15px;
        font-weight: normal;
        width: 300px;
        padding: 1rem;
        z-index: 100;
        line-height: 24px;
        pointer-events: none;
        opacity: 0;
      }

      .shadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      }

      .opacity-1 {
        opacity: 1 !important;
      }

      body {
        font-family: sans-serif;
        padding-bottom: 5rem;
      }
      .brand {

      }

      .search {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
      }

      .search > input {
        width: 100%;
      }

      nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: fixed;
        top: 0px;
        background: white;
        z-index: 10;
      }

      nav > button {
        display: flex;
        white-space: nowrap;
      }

      nav > button > svg {

      }

      table {
        min-width: 100%;
        border-collapse: collapse;
      }

      td {
        padding: 8px;
        position: relative;
      }

      td > div {
        position: absolute;
        height: 20px;
        background: darkcyan;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }

      td > div.active {
        width: 31px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 50%;
      }

      td > div.P {
        background: #F2C94C;
      }

      td > div.C {
        background: #6FCF97;
      }

      td > div.W {
        background: #56CCF2;
      }

      tr:nth-child(even) {
        /* background-color: #dddddd; */
      }

      td:not(:nth-child(1)) {
        text-align: center;
        box-sizing: border-box;
      }

      td, th {
        border: 1px solid #dddddd;
      }

      th.rotate {
        transform: rotate(-45deg);
        padding: 15px 4px;
        white-space: nowrap;
        height: 111px;
        width: 30px;
      }

      th.rotate > div {
        transform:/* Magic Numbers */
          translate(-23px, 71px)
          /* 45 is really 360 - 45 */
          rotate(315deg);
        width: 22px;
      }

      th.rotate > div > span {
        /* padding: 5px 10px; */
      }

      td:nth-child(1), th:nth-child(1) {
        white-space: nowrap;
      }

      .table {
        overflow: scroll;
        max-width: 100%;
        margin-top: 2rem;
      }

      .addBonusModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        z-index: 100;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .d-none {
        display: none !important;
      }

    </style>
    <title>LMS</title>
  </head>
  <body>
    <nav>
      <p class="brand">Leave Management System</p>
      <div class="search">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14V14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#828282"/>
        </svg>
        <input type="text" name="" value="" placeholder="Search">
      </div>
      <button type="button" name="button" onclick="">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 5V1L7 6L12 11V7C15.31 7 18 9.69 18 13C18 16.31 15.31 19 12 19C8.69 19 6 16.31 6 13H4C4 17.42 7.58 21 12 21C16.42 21 20 17.42 20 13C20 8.58 16.42 5 12 5Z" fill="#828282"/>
        </svg>

        <p>Re Calculate Leave</p>
      </button>
      <button type="button" name="button" onclick="$('.addBonusModal').toggleClass('d-none');">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="#828282"/>
        </svg>

        <p>Add Bonus Days</p>
      </button>
      <button type="button" name="button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04V7.04Z" fill="#828282"/>
        </svg>

        <p>Edit Slot</p>
      </button>
      <button type="button" name="button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM19 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.89 21 5 21H19C20.11 21 21 20.1 21 19V5C21 3.9 20.11 3 19 3ZM17.25 12C17.25 12.23 17.23 12.46 17.2 12.68L18.68 13.84C18.81 13.95 18.85 14.14 18.76 14.29L17.36 16.71C17.27 16.86 17.09 16.92 16.93 16.86L15.19 16.16C14.83 16.44 14.43 16.67 14.01 16.85L13.75 18.7C13.72 18.87 13.57 19 13.4 19H10.6C10.43 19 10.28 18.87 10.25 18.71L9.99 16.86C9.56 16.68 9.17 16.45 8.81 16.17L7.07 16.87C6.91 16.93 6.73 16.87 6.64 16.72L5.24 14.3C5.15 14.15 5.19 13.96 5.32 13.85L6.8 12.69C6.77 12.46 6.75 12.23 6.75 12C6.75 11.77 6.77 11.54 6.8 11.32L5.32 10.16C5.19 10.05 5.15 9.86 5.24 9.71L6.64 7.29C6.73 7.14 6.91 7.08 7.07 7.14L8.81 7.84C9.17 7.56 9.57 7.33 9.99 7.15L10.25 5.3C10.28 5.13 10.43 5 10.6 5H13.4C13.57 5 13.72 5.13 13.75 5.29L14.01 7.14C14.44 7.32 14.83 7.55 15.19 7.83L16.93 7.13C17.09 7.07 17.27 7.13 17.36 7.28L18.76 9.7C18.85 9.85 18.81 10.04 18.68 10.15L17.2 11.31C17.23 11.54 17.25 11.77 17.25 12V12Z" fill="#828282"/>
        </svg>
        <p>Write Policies</p>
      </button>
    </nav>
    <div class="table">
      <table style="">
        <tr>
          <th><div class="">
            <!-- Name / Date -->
          </div> </th>
          {{#each cols}}
          <th class="rotate"><div><span>{{getDateForCol this}}</span></div></th>
          {{/each}}
        </tr>
        {{#each sorted as |person|}}
        <tr>
          <td id="{{person._id}}">{{person.Name}}</td>

          {{{drawTableRows ../cols person}}}
        </tr>
        {{/each}}
      </table>
    </div>
    <div class="addBonusModal d-none">
      <p>
        <span>Give</span>
        <input id="extraDaysBonus" type="text" name="" value="10">
        <span>days extra to entire unit from</span>
        <input id="dateBonus" type="date" name="" value="2019-12-20">
        <span>onwards!</span>
      </p>
      <div class="">
        <button type="button" name="button" id="uploadBonus">Upload</button>
        <button type="button" name="button" onclick="$('.addBonusModal').toggleClass('d-none');">Close</button>
        <p class="error"></p>
      </div>
    </div>
    <div class="popover shadow"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript">


      $('.active').on('mouseenter mouseleave', function() {

        let posn = {
          left: $(this).offset().left,
          top: $(this).offset().top,
          right: $(this).offset().right,
          bottom: $(this).offset().bottom
        };
        let data = $(this).attr('my-data');
        $('.popover').html(data);
        $(this).toggleClass('hovered');
        $('.popover').toggleClass('opacity-1');

        if ((posn.left + $('.popover').width()/2) > $(window).width()) {
          console.log('cond 1');
          return $('.popover').css({
            right: 20,
            top: posn.top - $('.popover').height() - $(this).height() - 20,
          });
        }

        if ((posn.left < $('.popover').width()/2)) {
          console.log('cond 2');
          return $('.popover').css({
            left: posn.left,
            top: posn.top - $('.popover').height() - $(this).height() - 20,
          });
        }

        $('.popover').css({
          left: posn.left - ($('.popover').width()/2),
          top: posn.top - $('.popover').height() - $(this).height() - 20,
        });

      });

      $('#uploadBonus').on('click',function() {

        if (!$('#extraDaysBonus').val() || !$('#dateBonus').val()) return $(this).closest('div').find('.error').html('Please enter something above.');

        // all people who are not on leave right now

        let date = new Date($('#dateBonus').val()).toString().trim().split(' ').slice(1,4).join('-');

        let peopleOnLeave= $(`.${date}`).filter((val,elem) => $(elem).attr('class').indexOf('active') != -1);

        let onLeave = Object.keys(peopleOnLeave).map((index) => {
          return {
            id: $(peopleOnLeave[index]).closest('tr').find('td:eq(0)').attr('id'),
            returning: $(peopleOnLeave[index]).attr('leave-ending')
          };
        }).slice(0,-2);

        // give 4 days leave to all people already on leaveplan

        let peopleNotOnLeave= $(`.${date}`).filter((val,elem) => $(elem).attr('class').indexOf('active') == -1);

        let notOnLeave = Object.keys(peopleNotOnLeave).map((index) => $(peopleNotOnLeave[index]).closest('tr').find('td:eq(0)').attr('id')).slice(0,-2);

        console.log({onLeave: onLeave, notonLeave: notOnLeave});

        // set counter to 4 for those who are not on leave

        $(this).closest('div').find('.error').html('');

        let data = {
          "extraDaysBonus": $('#extraDaysBonus').val(),
          "dateBonus": $('#dateBonus').val(),
          onLeave,
          notOnLeave
        };

        data = JSON.stringify(data);

        $.ajax({
            url: '/updateManualCtr',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((msg) => {
            return console.log(msg);
          }).fail((e) => {
            console.log('error here', e);
            return $(this).closest('div').find('.error').html(e.responseText);
          });
      })


    </script>
  </body>
</html>
