<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/reset.css"> -->
    <style media="screen">
      body {
        font-family: sans-serif;
        padding-bottom: 5rem;
        max-width: 1440px;
        padding: 1rem 1rem;
        line-height: 1.5;
      }

      h1 {
        font-weight: bold;
        font-size: 34px;
        color: #6d6d6d;
      }

      h3 {
        color: #6d6d6d;
      }

      p {
        color: #6d6d6d;
      }
    </style>

    <title>Start Software Guide</title>
  </head>
  <body>
    <h1>Tutorial - Leave Management System</h1>
    <h3>Welcome to starting the Leave Management System</h3>
    <p>This system has been designed by 78 Composite Signal Battalion for welfare of troops. <br> In order to make maximum use of the system please read following guidelines.</p>

    <h3>P Leave Policy (P)</h3>
    <p>1. Troops are allowed to avail a maximum of 1 Month Leave in 1 year.</p>
    <p>2. The P Leave will be awarded in a period of 2 months from the given date of soldier's intended date of availing leave.</p>
    <p>3. This leave is awarded by the software against upcoming C Leave of the soldier.</p>

    <h3>C Leave Policy (C)</h3>
    <p>1. Troops are allowed to go on leave after 75 days from previous C / P Leave.</p>
    <p>2. A minimum of 30 Days difference from previous C Leave is kept before letting the soldier avail his C Leave. </p>
    <p>3. If a soldier has returned from his Weekend or Emergency leave within previous 30 Days, he will not be awarded a C Leave until he completes this 30 Days period.</p>

    <h3>3 x Days Weekend Policy (W1)</h3>
    <p>1. After returning from C Leave, first weekend of 3 Days is awarded after 30 Days.</p>
    <p>2. This weekend is mentioned as W1 on the leave bar.</p>
    <p>3. If a troop misses out this weekend, his next weekend will automatically get 1 Day addon.</p>

    <h3>2 x Days Weekend Policy (W2)</h3>
    <p>1. 2 Days weekend is awarded after 30 Days of soldier's return from his 3 Days weekend (W3).</p>
    <p>2. If a soldier skips this weekend also, he gets an addon of 1 Day in his next leave.</p>

    <h3>Start the software for the first time</h3>
    <p>1. Open this link in windows explorer "C:\Users\CONTROL\nodejs\renovationUpdates\server".</p>
    <p>2. Open LMS.xlsx Excel sheet.</p>
    <p>3. List all people in your company with last 3 leaves in any order. Ensure you follow the sample strictly.</p>
    <p>4. Save this excel sheet.</p>
    <p>5. Click on Load from Excel button in the software.</p>
    <p>6. After a moment a popup window will appear informing you status of updation.</p>
    <p>7. Click on ReCalculate Leave button.</p>
    <p>8. After a popup appears, refresh the page.</p>
    <p>9. All leaves have been updated.</p>

    <h3>Manual Updation</h3>
    <p>1. You can manually update any leave against a soldier's name by clicking on his leave bar.</p>
    <p>2. New window will show all manually added leaves of a soldier.</p>
    <p>3. You can add or delete a leave by clicking on buttons.</p>

    <img src="/manual_bar" alt="">
  </body>
</html>
