<style media="screen">

  html {
    scroll-behavior: smooth;
  }

  .popover {
    position: absolute;
    background: #009688;
    color: white;
    font-size: 15px;
    font-weight: normal;
    width: 300px;
    padding: 1rem;
    z-index: 100;
    line-height: 24px;
    pointer-events: none;
    opacity: 0;
  }

  .shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  }

  .opacity-1 {
    opacity: 1 !important;
  }

  body {
    font-family: sans-serif;
    padding-bottom: 5rem;
  }

  .brand {
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .brand:hover {
    opacity: 0.6;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .search > input {
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1000;
    padding: 5px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    left: 50%;
    top: 18px;
    transform: translate(-50%,-50%);
  }

  nav > * {
    margin: 0 2px;
  }

  nav > button {
    display: flex;
    white-space: nowrap;
    align-items: center;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    /* Gray 1 */
    color: #333333;
  }

  nav > button:hover {
    opacity: 0.7;
  }

  nav > button > svg {
    margin-right: 3px;
  }

  table {
    min-width: 100%;
    border-collapse: collapse;
    /* Gray 6 */
    border: 1px solid #F2F2F2;
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #4F4F4F;
  }

  td {
    padding: 8px;
    position: relative;
  }

  td > div {
    position: absolute;
    height: 20px;
    background: darkcyan;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  td > div.active {
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 50%;
  }

  td > div.P {
    background: #F2C94C;
  }

  td > div.C {
    background: #6FCF97;
  }

  .W1, .W2, .E {
    background: #56CCF2;
  }

  tr:nth-child(even) {
    /* background-color: #dddddd; */
  }

  td:not(:nth-child(1)) {
    text-align: center;
    box-sizing: border-box;
  }

  td, th {
    border: 1px solid #f1f1f1;
  }

  th.rotate {
    transform: rotate(-45deg);
    padding: 15px 4px;
    white-space: nowrap;
    height: 111px;
    width: 30px;
  }

  th.rotate > div {
    transform:/* Magic Numbers */
      translate(-23px, 71px)
      /* 45 is really 360 - 45 */
      rotate(315deg);
    width: 22px;
  }

  th.rotate > div > span {
    /* padding: 5px 10px; */
  }

  td:nth-child(1), th:nth-child(1) {
    white-space: nowrap;
  }

  .table {
    max-width: 1440px;
    margin: auto;
    margin-top: 7px;
  }

  .addBonusModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 100;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .d-none {
    display: none !important;
  }

  .specialDays_plus {
    background: #ff000054;
  }

  .specialDays_minus {
    /* background: black; */
    background: none;
    border: 2px solid black;
    box-sizing: border-box;
  }

  #col_true {
    font-weight: bold;
    background: aqua;
  }

  .partition_true {
    font-weight: bold;
    color: green;
  }

  .low_true {
    opacity: 0.5;
  }



  .brand > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #2F80ED;
    padding-right: 6px;

  }

  .search, .search > input {
    background: #F2F2F2;
    border: 0px;
    padding: 3px;
  }

  .search > input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    /* Gray 1 */
    color: #333333;
  }

  button {
    background: #F2F2F2;
    padding: 2px 11px;
    border: 1px solid #F2F2F2;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    /* Gray 1 */
    color: #333333;
  }

</style>
